.env
.DS_Store
__pycache__
counting_tokens.ipynb
extract_marks_manual_function_scratchpad.ipynb
requirements.txt
reformat.ipynb
scratchpad.ipynb
structure_edexcel_business_mark_scheme.ipynb
grade_student_answer_scratchpad.ipynb
claude_scratchpad.ipynb